In [1]:
import pandas as pd
from ast import literal_eval
import random

### Load employees' names and their skills

In [3]:
df = pd.read_csv("Employees.csv", header=None, index_col=0, usecols=[0, 1, 6], converters={6: literal_eval})
df.columns = ["name", "skills"]
df.index.names = ["id"]
df.head()

                name                                             skills
id
1   Piper Dingledine    [Sales tactic, Storytelling, Relation building]
2    Dennis Cardenas  [Strategic Thinking, Communication, Decision M...
3     William Mooney      [Perseverance, Self-Motivation, Independence]
4      Ashley Rifkin    [Sales tactic, Storytelling, Relation building]
5       Lisa Yruegas  [Strategic Thinking, Communication, Decision M...

### Create employees' ratings

In [4]:
df["rating"] = [round(random.uniform(4, 10), 1) for i in range(len(df))]
df.to_csv("Employees_skills.csv")
df.head()

,name,skills,rating
id,,,
1,Piper Dingledine,"[Sales tactic, Storytelling, Relation building]",6.4
2,Dennis Cardenas,"[Strategic Thinking, Communication, Decision M...",6.9
3,William Mooney,"[Perseverance, Self-Motivation, Independence]",4.7
4,Ashley Rifkin,"[Sales tactic, Storytelling, Relation building]",6.7
5,Lisa Yruegas,"[Strategic Thinking, Communication, Decision M...",8.0

### Display all skills

In [5]:
skills = df.skills.tolist()
skillset = set().union(*skills)
print(f"All skills:\n{skillset}")

All skills:
{'Perseverance', 'Self-Motivation', 'Automation', 'Strategic Thinking', 'Drinking', 'Daily technologies', 'Budgeting', 'Conference', 'Strategic Planning', 'Storytelling', 'Decision Making', 'Sales tactic', 'Hiring', 'Recruitment', 'Relation building', 'Linux', 'Communication', 'Office supplies', 'People Management', 'Events', 'Problem solving', 'Independence'}

### Create projects that require 3 skills each

In [11]:
nb_proj = 50
nb_skills = 3
proj_names = [f"Project #{i}" for i in range(nb_proj)]
proj_skills = [random.sample(skillset, k=nb_skills) for i in range(nb_proj)]
proj_df = pd.DataFrame({"project name": proj_names,
                        "skills": proj_skills})
proj_df.to_csv("Projects.csv")
proj_df.head()

  project name                                             skills
0   Project #0  [Strategic Thinking, Problem solving, Automation]
1   Project #1                 [Recruitment, Drinking, Budgeting]
2   Project #2      [Budgeting, Communication, People Management]
3   Project #3      [Independence, Strategic Thinking, Budgeting]
4   Project #4                  [Events, Recruitment, Conference]