In [31]:
import pandas as pd
from ast import literal_eval
import random

### Load employees' names and their skills

In [26]:
df = pd.read_csv("Employees.csv", header=None, index_col=0, usecols=[0, 1, 6], converters={6: literal_eval})
df.columns = ["name", "skills"]
df.index.names = ["id"]
df.head()

                name                                             skills
id
1   Piper Dingledine    [Sales tactic, Storytelling, Relation building]
2    Dennis Cardenas  [Strategic Thinking, Communication, Decision M...
3     William Mooney      [Perseverance, Self-Motivation, Independence]
4      Ashley Rifkin    [Sales tactic, Storytelling, Relation building]
5       Lisa Yruegas  [Strategic Thinking, Communication, Decision M...

### Create employees' ratings

In [37]:
df["rating"] = [round(random.uniform(4, 10), 1) for i in range(len(df))]
df.to_csv("Employees_skills.csv")
df.head()

,name,skills,rating
id,,,
1,Piper Dingledine,"[Sales tactic, Storytelling, Relation building]",5.9
2,Dennis Cardenas,"[Strategic Thinking, Communication, Decision M...",9.7
3,William Mooney,"[Perseverance, Self-Motivation, Independence]",7.0
4,Ashley Rifkin,"[Sales tactic, Storytelling, Relation building]",4.5
5,Lisa Yruegas,"[Strategic Thinking, Communication, Decision M...",4.5

### Display all skills

In [30]:
skills = df.skills.tolist()
skillset = set().union(*skills)
print(f"All skills:\n{skillset}")

All skills:
{'Strategic Planning', 'Strategic Thinking', 'Conference', 'Perseverance', 'Storytelling', 'Hiring', 'Communication', 'Problem solving', 'Relation building', 'Office supplies', 'Events', 'Automation', 'Budgeting', 'Drinking', 'Linux', 'Recruitment', 'People Management', 'Daily technologies', 'Sales tactic', 'Self-Motivation', 'Decision Making', 'Independence'}

### Create projects that require 3 skills each

In [38]:
proj_names = [f"Project #{i}" for i in range(20)]
proj_skills = [random.sample(skillset, k=3) for i in range(20)]
proj_df = pd.DataFrame({"project name": proj_names,
                        "skills": proj_skills})
proj_df.to_csv("Projects.csv")
proj_df.head()

  project name                                         skills
0   Project #0  [Budgeting, Strategic Planning, Storytelling]
1   Project #1  [Storytelling, Conference, People Management]
2   Project #2                    [Hiring, Conference, Linux]
3   Project #3  [Office supplies, Events, Strategic Thinking]
4   Project #4      [Automation, Storytelling, Communication]